.imageElement{
    border: 1px solid #ccc;
    margin: 0.25%;
}

.welcome{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signout{
    height: 7vh;
    width: 15vh;
}